<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
          <h1 class="text-center">Bienvenido a PICAS Y FIJAS...!</h1>
          <p class="text-center">Este juego probará tu inteligencia númerica</p>
          <form action="/validar" class="form-inline text-center">
            <div class="form-group">
              <label class="sr-only" for="exampleInputAmount">Ingrese el Numero</label>
              <div class="input-group">
                <label for="numero" class="col-sm-2 control-label">Número</label>
                <div class="input-group-addon">#</div>
                <input type="text" class="form-control" name="numero" placeholder="Ingrese su número aquí">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Validar</button>
          </form>

        </div>
      </div>
    </div>
</div>
